<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Главная страница</title>
</head>
<body>
    <header>
        <h1>Добро пожаловать на сайт фитнес-центра</h1>
        <nav>
            <!-- Ссылки на другие разделы сайта -->
            <a href="{% url 'appointments:appointment_list' %}">Записи на тренировки</a>
            <a href="{% url 'attendance:index' %}">Посещаемость</a>
            <a href="{% url 'finance:index' %}">Финансы</a>
            <a href="{% url 'inventory:index' %}">Инвентаризация</a>
            <a href="{% url 'staff:index' %}">Персонал</a>
            <a href="{% url 'users:index' %}">Пользователи</a>
        </nav>
    </header>
    <main>
        <h2>Содержание главной страницы</h2>
        <!-- Здесь можно добавить дополнительное содержание -->
    </main>
</body>
</html>

