<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeoFit</title>

    <!-- Подключение Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- Подключение пользовательского CSS -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <header>
        <h1>NeoFit</h1>
        <nav>
            <a href="{% url 'main:home' %}">Главная страница</a>
            <a href="{% url 'appointments:appointment_list' %}">Записи на тренировки</a>
            <a href="{% url 'appointments:client_list' %}">Клиенты</a>
            <a href="{% url 'appointments:trainer_list' %}">Тренеры</a>
            <a href="{% url 'appointments:training_session_list' %}">Тренировки</a>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <!-- Подключение jQuery и Inputmask -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/inputmask/5.0.6/inputmask.min.js"></script>

    <script>
        $(document).ready(function(){
            // Применение маски для поля даты с автоматическими разделителями
            $('.datepicker').inputmask('datetime', {
                alias: 'datetime',
                inputFormat: 'dd/mm/yyyy',  // Формат даты
                placeholder: 'дд/мм/гггг',  // Плейсхолдер с примером
                clearIncomplete: true  // Очищает поле, если ввод не завершен
            });

            // Применение маски для поля времени, если нужно
            $('.timepicker').inputmask('99:99');  // Пример: 14:30
        });
    </script>
</body>
</html>
