<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NeoFit</title>
</head>
<body>
    <header>
        <h1>NeoFit</h1>
        <nav>
            <!-- Проверьте правильность имен маршрутов здесь -->
            <a href="{% url 'main:home' %}">Главная странница</a>
            <a href="{% url 'appointments:client_list' %}">Клиенты</a>
            <a href="{% url 'appointments:trainer_list' %}">Тренеры</a>
            <a href="{% url 'appointments:training_session_list' %}">Тренировки</a>
        </nav>
    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>

