{% extends 'appointments/base.html' %}
{% load widget_tweaks %}

{% block content %}
<h2>Добавить тренера</h2>
<form method="post" enctype="multipart/form-data">  <!-- Не забудьте enctype -->
    {% csrf_token %}

    <!-- Поле для фамилии -->
    <div class="form-group">
        {{ form.last_name.label_tag }}
        {{ form.last_name|add_class:"form-control" }}
    </div>

    <!-- Поле для имени -->
    <div class="form-group">
        {{ form.first_name.label_tag }}
        {{ form.first_name|add_class:"form-control" }}
    </div>

    <!-- Поле для отчества -->
    <div class="form-group">
        {{ form.middle_name.label_tag }}
        {{ form.middle_name|add_class:"form-control" }}
    </div>

    <!-- Поле для email -->
    <div class="form-group">
        {{ form.email.label_tag }}
        {{ form.email|add_class:"form-control" }}
    </div>

    <!-- Поле для номера телефона -->
    <div class="form-group">
        {{ form.phone_number.label_tag }}
        {{ form.phone_number|add_class:"form-control" }}
    </div>

    <!-- Поле для даты рождения -->
    <div class="form-group">
        {{ form.birthdate.label_tag }}
        {{ form.birthdate|add_class:"form-control" }}
    </div>

    <!-- Поле для специальности -->
    <div class="form-group">
        {{ form.specialty.label_tag }}
        {{ form.specialty|add_class:"form-control" }}
    </div>

    <!-- Поле для пола -->
    <div class="form-group">
        {{ form.gender.label_tag }}
        {{ form.gender|add_class:"form-control" }}
    </div>

    <!-- Поле для фото -->
    <div class="form-group">
        {{ form.photo.label_tag }}
        {{ form.photo|add_class:"form-control" }}
    </div>

    <button type="submit" class="btn btn-primary">Добавить тренера</button>
</form>
{% endblock %}

